html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.red a {
  background-color: red !important;
}

.green a {
  background-color: green !important;
}

$InputRequeridoFondo: lavenderblush;
$InputRequeridoBorde: #a94442;

input {
  &.ng-invalid {
    &.ng-touched,
    &.ng-dirty {
      input,
      .ui-dropdown-label,
      .ui-dropdown-trigger,
      .ui-dropdown-trigger-icon,
      .ui-dropdown.ui-widget {
        background-color: $InputRequeridoFondo !important;
        border-color: $InputRequeridoBorde !important;
      }

      .ui-dropdown-trigger-icon {
        color: $InputRequeridoBorde !important;
      }

      input + button {
        background-color: $InputRequeridoBorde !important;
        color: $InputRequeridoFondo !important;
      }

      background-color: $InputRequeridoFondo !important;
      border-color: $InputRequeridoBorde !important;
    }
  }
}

li.ng-invalid a {
  background-color: $InputRequeridoFondo !important;
  border-color: $InputRequeridoBorde !important;
}
